* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'PT Sans', sans-serif;
    font-size: 22px ;
}

html,
body {
    height: 100%;
}

@font-face {
    font-family: 'Open Sans', sans-serif;
    src: url('https://fonts.googleapis.com/css?family=Open+Sans');
}

.wrapper {
    display: flex;
    flex-direction: column;
    height: 100%;
    margin: 0 auto;
}

header {
    margin: 0 auto;
    flex: 0 0 auto;
    height: 230px;
    width: 100%;
    background: #ff1310;
}
.menu {
    margin: 0 auto;
    flex: 0 0 auto;
    height: 80px;
    width: 100%;
    background: #eeffef;
}

.content {
    margin: 0 auto;
    flex: 1 0 auto;
    height: auto;
    width: 100%;
    background: #3cff32;
}
footer {
    margin: 0 auto;
    flex: 0 0 auto;
    height: 220px;
    width: 100%;
    background: #3c6d84;
}

.slider {
    height: 400px;
    margin: 0 auto;
}
.slider figure {
    display: block;
    margin: 0 auto;
}

@keyframes slidy {
    0% { left: 0%; }
    20% { left: 0%; }
    25% { left: -100%; }
    45% { left: -100%; }
    50% { left: -200%; }
    70% { left: -200%; }
    75% { left: -300%; }
    95% { left: -300%; }
    100% { left: -400%; }
}

.captioned-gallery {
    width: auto;
    overflow: hidden;
    display: block;
    margin: 0 auto;
    text-align: center;

}
figure.slider {
    position: relative;
    width: 500%;
    font-size: 0;
    animation: 30s slidy infinite;
    display: block;
    margin: 0 auto;
}
figure.slider figure {
    width: 20%;
    height: 400px;
    display: inline-block;
    position: inherit;
    margin: 0 auto;

}

figure.slider img {
    width: auto;
    height: 400px;
}

