* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'PT Sans', sans-serif;
    font-size: 22px ;
}

html,
body {
    height: 100%;
}

@font-face {
    font-family: 'Open Sans', sans-serif;
    src: url('https://fonts.googleapis.com/css?family=Open+Sans');
}

.wrapper {
    display: flex;
    flex-direction: column;
    height: 100%;
    margin: 0 auto;
    width: 100%;
}

header {
    margin: 0 auto;
    flex: 0 0 auto;
    height: 230px;
    width: 100%;
    background: #ff1310;
}
.menu {
    margin: 0 auto;
    flex: 0 0 auto;
    height: 80px;
    width: 100%;
    background: #eeffef;
}

.content {
    margin: 0 auto;
    flex: 1 0 auto;
    height: auto;
    width: 100%;
    background: #3cff32;
}
footer {
    margin: 0 auto;
    flex: 0 0 auto;
    height: 220px;
    width: 100%;
    background: #3c6d84;
}

.slider {
    height: 400px;
    width: 1000px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    margin: 0 auto;
}


img {
    margin: 0;
}



